
<% if user_signed_in? %>
	<h1>Bienvenido  <%=current_user.nombre %> </h1>

	<% if current_user && current_user.role == "admin" %>
		<%= link_to 'Administrar Choferes', chofer_index_path %><br />

		<%= link_to 'Administrar Combis', combis_path%> <br />


		<%= link_to 'Administrar Viajes',viajes_path %><br />

	<%end%>

<% end %>
