<center>

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Origen</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="form-group col-md-6">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Destino</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="inputAddress2">Fecha de regreso</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity"></label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  <button type="submit" class="btn btn-primary">Buscar</button>
</center>