<p>Hola <%= @resource.email %>!</p>
<p>Alguien pidio un link para hacer el cambio de contraseña.Tu puedes hacerlo en el link de abajo</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Si tu no has hecho el pedido, por favor ignore el email</p>
<p>Tu contraseña no se cambiara hasta que ingreses al link dado y crees una nueva</p>